@model LMS.Model.Admin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section TitleSection{ Index}
@section HeaderSection{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}
@section ContentBody{
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a></div>
    </div>
    <!--End-breadcrumbs-->
    <!--Action boxes-->
    <div class="container-fluid">
        <div class="quick-actions_homepage">
            <ul class="quick-actions">
                <li class="bg_lb span2.5"> <a href="#"> 订单管理 </a> </li>
                <li class="bg_lg span2.5"> <a href="#"> 线路详情 </a> </li>
                <li class="bg_lo span2.5"> <a href="#"> 车辆情况 </a> </li>
                <li class="bg_ls span2.5"> <a href="#"> 修改信息 </a> </li>
            </ul>
        </div>
        <div>
            <img src="img/a.jpg">
        </div>
    </div>
    <!--End-Action boxes-->
</div>
}

